<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="isDisplayForm">
                  <div class="card-body">
                    <h1>Reset Password</h1>
                    <div [ngClass]="{'form-group m-form__group': true, 'has-danger': !resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched}">
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">New Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <input formControlName="password" type="password" class="form-control" placeholder="New Password">
                      </div>
                      <div *ngIf="resetPasswordForm.get('password').errors && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)" class="text-danger">
                        <div *ngIf="resetPasswordForm.get('password').errors.required">
                            Please enter password
                        </div>
                        <div *ngIf="!resetPasswordForm.get('password').errors.required && resetPasswordForm.get('password').errors?.pattern">
                            Password should be 8 characters with number combination
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="{'form-group m-form__group': true, 'has-danger': !resetPasswordForm.get('cpassword').valid && resetPasswordForm.get('cpassword').touched}">
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Confirm Password</span>
                        </div>
                        <input formControlName="cpassword" type="password" class="form-control" placeholder="Confirm Password">
                      </div>
                      <div *ngIf="resetPasswordForm.get('cpassword').hasError('required') && (resetPasswordForm.get('cpassword').dirty || resetPasswordForm.get('cpassword').touched)" class="text-danger">
                        Please re-enter password
                      </div>
                      <div *ngIf="(!resetPasswordForm.get('cpassword').hasError('required') && (resetPasswordForm.get('cpassword').dirty || resetPasswordForm.get('cpassword').touched)) && resetPasswordForm.errors?.areEqual" class="text-danger">
                        Password mismatch
                      </div>

                      <!-- <div *ngIf="resetPasswordForm.get('cpassword').errors && (resetPasswordForm.get('cpassword').dirty || resetPasswordForm.get('cpassword').touched)" class="text-danger">
                        <div *ngIf="resetPasswordForm.get('cpassword').errors.required">
                            Please re-enter password
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="card-footer">
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" [disabled]="loading || !resetPasswordForm.valid" class="btn btn-primary px-4">Reset</button>
                      <a class="btn btn-default px-4" [routerLink]="['login']">Cancel</a>
                    </div>
                  </div>
                  </div>
                </form>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>