
.dtePkr i.fa {
  position: absolute;
  right: auto;
  top: 10px;
  background-color: white;
  left: 186px;
  }
  .customDatePicker
  {
    position: relative !important;
  }

#dashboard_date
{
  width: 235px;
  margin-left: -15px;
}
